# Node.js
node_modules/

# Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs and databases
*.log
*.sqlite
*.db

# Dependency lock files
yarn.lock
package-lock.json

# Environment variables
.env

# Compiled output
dist/
build/
out/
